<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!--  <link rel="manifest" href="site.webmanifest">-->
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>ITC309 Team6 Demo</h1>
        <p>A Demonstration tool for use with our FROST-Server</p>

    </div>
    <div class="row">
        <h1>Unauthorized access Error</h1>
        <h3>Please click the following link to go back to the <a href="{{url_for('home')}}">Login Page</a></h3>
        <h3>and re-enter your username and password </h3>
    </div>
</div>

</body>
</html>