<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
<div class="container">
    {% include "navbar.html" %}
</div>
<div class="container">
    <div class="row table-title" style="padding-bottom: 20px; margin:auto;">
        <h1 style="margin:auto;">Features nof Interest </h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table-striped">
            <thead>
            <tr>
                {% for key,value in data[0] | dictsort %}
                {% if key.title() == 'Properties' %}
                <th style="width: 400px;">{{key.title()}}</th>
                {% else %}
                <th style="width: 180px;">{{key.title()}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data%}
            <tr>
                {% for key,value in row | dictsort %}
                {% if key.title() == 'Properties' %}
                <td style="width: 400px;">{{value}}</td>
                {% else %}
                <td style="width: 180px;">{{value}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include "plugins.html" %}
</body>

</html>
