<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
<div class="container">
    {% include "navbar.html" %}
</div>
<div class="container">
    <div class="row table-title" style="padding-bottom: 20px; margin:auto;">
        <h1 style="margin:auto;">Details of Location ID: {{id}}</h1>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <table class="table-striped">
            <thead>
            <tr>
                {% for key,value in data | dictsort %}
                {% if key.title() == 'Properties' %}
                <th style="width: 400px;">{{key.title()}}</th>
                {% else %}
                <th style="width: 180px;">{{key.title()}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for key,value in data | dictsort %}
                {% if key.title() == 'Properties' %}
                <td style="width: 400px;">{{value}}</td>
                {% else %}
                <td style="width: 180px;">{{value}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        {% include "getMap.html" %}
    </div>
</div>

{% include "plugins.html" %}
</body>
{% include "footer.html" %}
</html>
