<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
<div class="container">
    {% include "navbar.html" %}
</div>
<div class="container">
    <div class="row table-title" style="padding-bottom: 20px; margin:auto;">
        <h1 style="margin:auto;">Observations results in Datastream: {{id}}</h1>
    </div>
    <div class="row table-section" >
        <div class="col-lg-12">
            {% if table_rows != []: %}
            <table class="table-striped ogc-table" >
                <thead>
                <tr>
                    {% for key,value in data[0].items() %}
                    {% if key.title() == 'Parameters' %}
<!--                    <th class="obs-table-heading-col-params">{{key.title()}}</th>-->
                    <th style="width: 500px; padding: 5px; text-align: center">{{key.title()}}</th>
                    {% else %}
<!--                    <th class="obs-table-heading-col-normal">{{key.title()}}</th>-->
                    <th style="width: 180px; padding: 5px; text-align: center">{{key.title()}}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in data%}
                <tr>
                    {% for key,value in row.items() %}
                    {% if key.title() == 'Parameters' %}
<!--                    <td class="obs-table-data-col-params">{{value}}</td>-->
                    <td style="width: 500px; padding: 5px; text-align: left">{{value}}</td>
                    {% else %}
                    <td style="width: 180px; padding: 5px; text-align: center">{{value}}</td>
                    {% endif %}
                    {% endfor %}
                    {% for key,value in row.items() %}
                    {% if key.title() == '@Iot.Id' %}
                    <td style="width: 50px; padding: 5px; text-align: center"><a href="{{url_for('get_FeatureOfInterest', id=value)}}">FoI</a></td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if values !=[] %}
    <div class="row">
        <div>
            <canvas id="lineChart" width="900" height="400"></canvas>
            <script>
            var ctx = document.getElementById("lineChart").getContext("2d");
            var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                {
                    label: "Observations",
                    data: {{ values | safe }},
                    fill: false,
                    borderColor: "rgb(75,190,190)",
                    lineTension: 0.1
                }
              ]
            },
            options: {
                responsive: false
                }
        });

            </script>
        </div>
    </div>
    {% endif %}
</div>

    {% include "plugins.html" %}
</body>
{% include "footer.html" %}
</html>
