<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
<!-- Add your site or application content here -->
<div class="container">
    {% include "navbar.html" %}
</div>

<div class="container">
    <div class="row table-title" style="padding-bottom: 20px; margin:auto;">
        <h1 style="margin:auto;">Table of 'Things'</h1>
    </div>
    <div class="row">
        {% if data != []: %}
        <table class="table-striped">
            <thead>
            <tr>
                {% for key,value in data[0].items() %}
                {% if key.title() == 'Properties' %}
                <th style="width: 500px;">{{key.title()}}</th>
                {% else %}
                <th style="width: 200px;">{{key.title()}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data%}
            <tr>
                {% for key,value in row.items() %}
                {% if key.title() == '@Iot.Id' %}
                <td style="width: 200px;"><a href="{{url_for('get_things_related', id=value)}}">{{value}}</a></td>
                {% else %}
                <td style="width: 180px;">{{value}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% include "plugins.html" %}
</body>

{% include "footer.html" %}
</html>
